body {
  font-family: Arial;
}
.logo {
  border: 1px solid black;
  height: 130px;
	background-color: #b3ffc7;
	background-image: linear-gradient(#ffffff, #b3ffc7);
	font-family: "Agency FB", Arial;
	font-size: 100px;
	text-align: center;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.logo a {
	text-decoration: none;
	color: #000000;
}
.button {
  background-color: chartreuse;
  color: #000;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  border: none;
}
.button:hover {
  background-color: #000000;
  color: #fff;
}
.button:disabled {
  background-color: #f1f1f1;
}
.button:disabled:hover {
  color: #000;
  cursor: not-allowed;
}
.navigation {
  border: 1px solid black;
}
.navigation a {
  line-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
.main_content {
  border: 1px solid black;
  height: 100%;
	padding-left: 10px;
  padding-right: 10px;
}
.footer {
  border: 1px solid black;
	line-height: 35px;
	padding-left: 10px;
  padding-right: 10px;
}